<%= turbo_frame_tag book, :publication do %>
  <div class="flex align-center justify-center gap-half center">
    <%= image_tag "lock.svg", aria: { hidden: true }, size: 36, class: "colorize--black" %>
      <%= form_with model: book, data: { controller: "form", action: "change->form#submit" }, html: { contents: true } do |form| %>
        <label class="switch txt-medium">
          <%= form.check_box :published, checked: book.published?, class: "switch__input" %>
          <span class="switch__btn round"></span>
          <span class="for-screen-reader">Publish this book</span>
        </label>
      <% end %>
    <%= image_tag "world.svg", aria: { hidden: true }, size: 36, class: "colorize--black" %>
  </div>
<% end %>
