<h1><%= @book.title %></h1>

<ul>
  <% @leaves.each do |leaf| %>
    <li><%= link_to leaf.title, leafable_path(leaf) %></li>
  <% end %>
</ul>


<p>New:
  <%= link_to "Page", new_book_page_path(@book) %>
  <%= link_to "Section", new_book_section_path(@book) %>
  <%= link_to "Picture", new_book_picture_path(@book) %>
</p>

<%= link_to "Back", books_path %>
